<% provide(:title, @user.name) %>
<div class="row">
  <div class="row">
    <aside class="span4">
      <section>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
  <div class="span8">
    <h3>Добавленные книги</h3>
    <% if @feed_items.any? %>
        <ol class="microposts">
          <%= render partial: 'shared/feed_item', collection: @feed_items %>
        </ol>
    <% end %>
    <!--%= render 'shared/feed' %-->
  </div>
  <div class="span8">
    <h3>Оставленные отзывы</h3>
    <% if @comment_user.any? %>
        <ol class="microposts">
          <%= render partial: 'shared/comment_user', collection: @comment_user %>
        </ol>
    <% end %>
    <!--%= render 'shared/feed' %-->
  </div>
</div>