<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @country.name %>
</p>
<% if signed_in? && current_user.admin? %>
    <%= link_to 'Редактировать', edit_country_path(@country) %> |
<% end %>

<%= link_to 'Назад', countries_path %>
